<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>About Us - about</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'structures/bootstrap4/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <script src="{% static 'structures/js/smoothproducts.min.js' %}"></script>
</head>

<body style="background: #0a192f;">
    <main class="page">
        <section class="clean-block about-us">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">About Us</h2>
                    <p style="color: rgb(255,255,255);">We are a team of chemoinformatics enthusiasts who are interested in popularizing chemoinformatics for all who will to know about it.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="{% static 'structures/avatars/avatar1.jpg' %}">
                            <div class="card-body info">
                                <h4 class="card-title">Kashish Goyal</h4>
                                <p class="card-text">TECH &amp; FOSS Enthusiast</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="{% static 'structures/avatars/avatar2.jpg' %}">
                            <div class="card-body info">
                                <h4 class="card-title">Gurnameh Singh</h4>
                                <p class="card-text">&nbsp;Game Developement Enthusiast</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="{% static 'structures/avatars/data.png' %}">
                            <div class="card-body info">
                                <h4 class="card-title">Ashwani Rathee</h4>
                                <p class="card-text">Audio Information Retrieval Enthusiast with a thing of chemoinformatics.</p>
                                <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{% static 'structures/js/smoothproducts.min.js' %}"></script>
    <script src="{% static 'structures/js/theme.js' %}"></script>
</body>

</html>