{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>ChemDesk</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Fonts Links -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Overpass:wght@600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap"
      rel="stylesheet"
    />

    <!-- Style Sheets -->
    <link rel="stylesheet" href={% static
    'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'
    %}
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
    crossorigin="anonymous" /> <link rel="stylesheet" type="text/css" href={%
    static 'structures/css/main.css' %}>

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Scripts -->
    <script
      src="https://kit.fontawesome.com/621ccc563f.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- NAVIGATION BAR -->
    <!-- Navbar -->
    <h1>This is Index Page.</h1>

    {% block body_block %} {% endblock %}

    <!-- footer -->

    <script
      type="text/javascript"
      src="{% static 'structures/js/js.js' %}"
    ></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 2500,
      });
    </script>
  </body>
</html>
